@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* Font style */


html {
    background-color: #FFFFFF;
}

html, body {
    font-family: 'Inter', sans-serif;
    /* CSS Reset (I think hehe) */
    padding: 0; 
    margin: 0;
}

h1 {
    font-weight: 700; /* 700 bold*/
    font-size: 64px;
}

h6 {
    font-weight: 400; /* 400 regular */
    font-size: 16px;
}

p { 
    font-weight: 400;
    font-size: 36px;
}
.landing-area {
    background-color: #39F178;
    min-height: 100vh;
    padding: 0 20px; /* gives a padding inside the .landing-area which will affect where the wrapper div is also placed */
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.landing-area h1 {
    color: black;
    text-align: center;
    margin: 0 auto;
}

.landing-area h6, .landing-area h6 a {
    color: black;
    text-align: center;
    margin: 0 auto;
}

.landing-area p {
    text-align: center;
    margin: .5rem 0 0 0;
}

.wrapper {
    width: 1400px;
    height: 901px;
    margin: 0 auto; /* puts wrapper div in middle of the nested parent (.landing-area) | MAYBE */
}

#iconic {
    display: block;
    margin: 0 auto;
    width: 1002px;
    height: 659px;
}

nav {
    height: 120px;
    background-color: #3E9EF6;
    box-shadow: 0 5px 8px rgba(0,0,0,.2);
    position: sticky;
}

nav a.logo {
    color: white;
    font-weight: 700;
    font-size: 64px;
    display: block;
    width: 841px;
    position: absolute; top: 50%; left: 30px;
    /* positions your element from the top to the parent's 50% height. where in this case it's 60px absolutely positioned */
    margin-top: -38.5px; /*minus 38.5 px because the a.logo height is a total of 77px */
    overflow: hidden;
}

nav a:link, nav a:visited , nav a:hover, nav a:active {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
    display: block;
    float: right;
}

nav ul li{
    margin: 0;
    padding: 0;
    display: block;
    float: left;
}

nav ul li a{
    display: block;
    height: 100%;   
    box-sizing: border-box;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 39px 37.5px;
}

.cast {
    background-color: white;
    min-height: 100vh;
    padding: 0 20px; /* gives a padding inside the .landing-area which will affect where the wrapper div is also placed */
    box-sizing: border-box;
    position: relative; 
}

#row-cards {
    width: 1179.99px;
    height: 1252.62px;
    margin: 103px auto;
    overflow: hidden;
}

.row {
    display: inline-block;
    width: 1179.99px;
}

.card {
    display: inline-block;
    margin-right: 23px;
}

.card img {
    width: 364.09px;
    height: 546.13px;
    border-color: black;
    border-style: solid;
    border-width: 1px;

}

.card h3 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    margin: 21.18px;
}

#last-card1 img, #last-card2 img{
    width: 364.09px;
    height: 546.13px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-right: 0;
}

.story p, .story p a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: black;
    margin: 0 auto;
}

.wrapper-2 {
    width: 1484px;
    height: 433px;
    margin: 0 auto;
}

footer {
    margin: 79px auto 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: black;
}